<h1> Edit Comment </h1>

<%= form_for [@comment.article, @comment] do |f| %>
  
  <p> 
    <%= f.label :name %> 
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

