<h1> New comment </h1>

<%= form_for @article, @article.commments.build do |f| %>

  <p> 
    <%= f.label :name %> <br/>
    <%= f.text_field :name %> 
  </p>
  
  <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body %> 
  </p>
  
  <p>
    <%= f.submit "Create new comment" %>
  </p>


<% end %>