<h1> Welcome to the Index </h1>

<% @articles.each do |article| %>
  <table> 
    <tr>
      <th> Article #  </th>
      <th> First name </th>
      <th> Last  name </th>
      <th> Title      </th>
      <th> Text       </th>
      <th> Edit       </th>
      <th> Delete     </th>
    </tr>
    <tr> 
      <td> <%= article.id %>         </td>
      <td> <%= article.first_name %> </td>
      <td> <%= article.last_name  %> </td>
      <td> <%= article.title %>      </td>
      <td> <%= article.text %>       </td>
      <th> <%= link_to "Edit", edit_article_path(article) %>                   </th>
      <td> <%= link_to "Delete", article_path(article), method: :delete, data: 
      { confirm: "Are you sure?" } %> </td>
      
      <td> <%= link_to "Show", article_path(article) %> </td>
   </tr>
  </table>
  
<% end %>
  