<h2> New Form </h2>

<%= form_for @article do |f| %>

  <p> 
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %>
  </p>
  
  <p>
    <%= f.label :last_name %></br/> 
    <%= f.text_field :last_name %>
  </p> 
  
  <p> 
    <%= f.label :title %></br/> 
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :text %></br/> 
    <%= f.text_area :text %>
  </p>
  
  <p> 
    <%= f.submit "Create new article" %>
  </p>
  
<% end %>