<h1> Show </h1>

<p> <%= @article.first_name%> </p>

<p> <%= @article.last_name %> </p>

<p> <%= @article.title %>     </p>

<p> <%= @article.text %>      </p>

<h2> Comments </h2>

<%  @article.comments.each do |comment| %> 
  <ul>                                            
    <Li> <%= comment.body %> | <%= link_to "Show", article_comment_path(comment.article, comment) %> | 
                               <%= link_to "Edit", edit_article_comment_path(comment.article, comment) %> 
                                <%= link_to "Delete", article_comment_path(comment.article, comment), method: :delete, 
                                data: { confirm: "Are you sure?" } %> 
                                </li> 
  </ul>
  
<% end %>


<h1> Add new comment </h1>

<%= form_for([@article, @article.comments.build]) do |f| %>

  <p> 
    <%= f.label :name %> <br/>
    <%= f.text_field :name %> 
  </p>
  
  <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body %> 
  </p>
  
  <p>
    <%= f.submit "Create new comment" %>
  </p>


<% end %>


<b> <%= link_to "Edit", edit_article_path(@article) %> | <%= link_to "Back", articles_path %> </b>

